{% extends 'operatorApp/base.html' %}
{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Поповнення балансу</h1>
    <div class="card">
        <div class="card-body">
            <form method="post">
        {% csrf_token %}

                <div class="form-group row">
                    <label for="inputPhoneNumber" class="col-sm-3 col-form-label">Номер телефону:</label>
                    <div class="col-sm-9">
                        <div class="col-sm-3 col-form-label" disabled>{{user.phone_number}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCurrentbalance" class="col-sm-3 col-form-label">Баланс:</label>
                    <div class="col-sm-9">
                        <div class="col-sm-3 col-form-label" disabled>{{user.balance}}</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputAmount" class="col-sm-3 col-form-label">Сума поповнення:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="inputAmount" name="inputAmount" placeholder="Введіть суму">
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">Поповнити баланс</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}