<!DOCTYPE html>
{% load static %}
<html lang="en">
  {% csrf_token %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
      {{ message }}
  </div>
{% endfor %}
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-left justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-left mb-2 mb-lg-0 text-white text-decoration-none">

        </a>
       
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
  
              <li class="nav-item dropdown">
                <a class="nav-link px-2 text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Каталог активностей
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="{%url 'addNumber'%}">Додати номер телефона</a></li>
                  <li><a class="dropdown-item" href="{%url 'tarifs'%}">Переглянути тарифи</a></li>
                  <li><a class="dropdown-item" href="{%url 'addbalance'%}">Поповнити баланс</a></li>
                  
                </ul>
              </li>
              <a class="p-2 text-secondary" href="{%url 'cabinet'%}">Кабінет</a>
              <a class="p-2 text-light" href="{%url 'login'%}">Авторизація</a>
              <a class="p-2 text-light" href="{%url 'register'%}">Реєстрація</a>

        </ul>


    

        <div class="text-end">
     

        </div>
      </div>
    </div>
  </header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">{{title}}</h1>
     </div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script>
  document.getElementById('basketIcon').addEventListener('click',()=>{
    window.location='/basket'
  })
</script>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
<footer style="margin-top: 500px;" class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">https://ztu.edu.ua</a>
    </div>
    <!-- Copyright -->
</footer>
</body>

</html>