{% extends 'operatorApp/base.html' %}
{% block content %}
{% if form %}
<div рid="logreg-forms" style="width: 50%;">
    <form method="post" class="container py-5 ">
        {% csrf_token %}

        {{form.as_p}}
        <h5 class="card-title">Приклад: 380967562826</h5>

        <div class="container" style="display: flex; flex-direction:row;height:70px">
          <button class="w-100 btn btn-primary btn-lg" style="background:#198754" type="submit">Додати номер</button>
        </div>
    </form>
</div>
{%else%}
<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Ваш номер телефону:</h5>
                  <p class="card-text">+{{phone_number}}</p>

                  <form action="{%url 'deleteNumber'%}" method="get">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Видалити номер</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endif  %}
{% endblock %}


{{phone_number}}