{% extends 'operatorApp/base.html' %}
{% block content %}
<div id="logreg-forms" style="width: 50%;">
    <form method="post" class="container py-5 ">
        {% csrf_token %}
        {{form.as_p}}
        <div class="container" style="display: flex; flex-direction:row;height:70px">
          <button class="w-100 btn btn-primary btn-lg" style="background:#198754" type="submit">Авторизуватись</button>
          <a class=" btn btn-primary btn-lg" type="submit"  href="{% url 'register' %}"style="width:20%;margin-left:4px;background:#0d6efd;;text-align:center;margin-left:5px">Немає аккаунта?</a>
        </div>
    </form>
</div>
{% endblock %}