{% extends 'operatorApp\base.html' %}
{% load static %}
{% block content%}   

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Ласкаво просимо до нашого мобільного оператора</h1>
            <p>Ми пропонуємо широкий вибір послуг для наших клієнтів. У нас ви знайдете:</p>
            <ul>
                <li>Швидкий і надійний інтернет</li>
                <li>Зручні тарифи на дзвінки і смс</li>
                <li>Різноманіття пристроїв і смартфонів</li>
                <li>Технічна підтримка 24/7</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Новини та акції</h2>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Нова пропозиція: нескінченний інтернет!</h5>
                    <p class="card-text">Тільки сьогодні! Оформіть підписку на нескінченний інтернет та отримайте знижку 20% на перший місяць користування.</p>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Знижка на смартфони</h5>
                    <p class="card-text">Тільки до кінця тижня! Отримайте знижку 30% на весь асортимент смартфонів в наших магазинах.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h2>Наші послуги</h2>
            <p>Наш мобільний оператор пропонує такі послуги:</p>
            <div class="row">
                <div class="col-md-4">
                    <h4>Інтернет</h4>
                    <p>Швидкий та надійний інтернет від нашого оператора.</p>
                </div>
                <div class="col-md-4">
                    <h4>Тарифи</h4>
                    <p>Різноманіття тарифів на дзвінки і смс, підходящих для кожного клієнта.</p>
                </div>
                <div class="col-md-4">
                    <h4>Пристрої</h4>
                    <p>Великий вибір смартфонів і гаджетів від нашого оператора.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}   
