{% extends 'operatorApp/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% if phone_user %}
    <div class="container">
        <h1 class="mt-4 mb-4">Користувачі телефону</h1>
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title">Номер телефону: {{ phone_user.phone_number }}</h5>
                        <p class="card-text"><strong>Користувач:</strong> {{ phone_user.user }}</p>
                        <p class="card-text"><strong>Останній оплачений тариф:</strong> {{ phone_user.last_payed_tarif }}</p>
                        <p class="card-text"><strong>Баланс:</strong> {{ phone_user.balance }}</p>
                    </div>
                    <div class="col-md-6">
                        {% if phone_user.photo_path %}
                        <img src="{{ phone_user.photo_path.url }}" class="img-fluid mb-3" alt="Фото">
                        {% else %}
                        <p class="card-text"><em>Фото недоступне.</em></p>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <h5 class="card-title">Паспорт</h5>
                {% if phone_user.passport %}
                <p class="card-text"><strong>Повне ім'я:</strong> {{ phone_user.passport.fullname }}</p>
                <p class="card-text"><strong>Адреса:</strong> {{ phone_user.passport.address }}</p>
                <p class="card-text"><strong>Номер паспорту:</strong> {{ phone_user.passport.number }}</p>
                {% else %}
                <p class="card-text"><em>Інформація про паспорт недоступна.</em></p>
                {% endif %}
                <hr>
                <h5 class="card-title">Тариф</h5>
                {% if phone_user.tarif %}
                <p class="card-text"><strong>Назва:</strong> {{ phone_user.tarif.name }}</p>
                <p class="card-text"><strong>Опис:</strong> {{ phone_user.tarif.description }}</p>
                <p class="card-text"><strong>Ціна:</strong> {{ phone_user.tarif.price }}</p>
                <p class="card-text"><strong>Кількість інтернету (KB):</strong> {{ phone_user.tarif.internet_kb_count }}</p>
                <p class="card-text"><strong>Кількість SMS:</strong> {{ phone_user.tarif.sms_count }}</p>
                <p class="card-text"><strong>Кількість хвилин:</strong> {{ phone_user.tarif.minutes_count }}</p>
                {% else %}
                <p class="card-text"><em>Інформація про тариф недоступна.</em></p>
                {% endif %}
                <hr>
                <h5 class="card-title">Студент</h5>
                {% if phone_user.student %}
                <p class="card-text"><strong>Повне ім'я:</strong> {{ phone_user.student.fullname }}</p>
                <p class="card-text"><strong>Номер:</strong> {{ phone_user.student.number }}</p>
                {% else %}
                <p class="card-text"><em>Інформація про студента недоступна.</em></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <h1>Данні про моб. телефон не приєднанно</h1>
    {{ phone_user}}
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary btn-lg" href="{%url 'addNumber'%}">Додати номер телефона</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Додайте інші дані, якщо потрібно -->
</div>
{% endblock %}