{% extends 'operatorApp/base.html' %}
{% block content %}
<div id="logreg-forms" style="width: 50%;">
  <form method="post" class="container py-5 ">
  {% csrf_token %}
  {{form.as_p}}
  <div class="container" style="display: flex; flex-direction:row;height:70px">
    <button style="background-color:#198754" class="w-100 btn btn-primary btn-lg" type="submit">Зареєструватися</button>
    <a class=" btn btn-primary btn-lg" type="submit"  href="{% url 'login' %}"style="width:35%;margin-left:4px;background:#0d6efd;text-align:center">Вже маєте аккаунт?</a>
  </div>
</form>
{% endblock %}