{% extends 'operatorApp/base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Список тарифів</h1>
        <div class="row">
            {% for tariff in tariffs %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ tariff.name }}</h5>
                        <p class="card-text"><strong>Опис:</strong> {{ tariff.description }}</p>
                        <p class="card-text"><strong>Ціна:</strong> {{ tariff.price }}</p>
                        <p class="card-text"><strong>Кількість інтернету (KB):</strong> {{ tariff.internet_kb_count }}</p>
                        <p class="card-text"><strong>Кількість SMS:</strong> {{ tariff.sms_count }}</p>
                        <p class="card-text"><strong>Кількість хвилин:</strong> {{ tariff.minutes_count }}</p>
                        <a class=" btn btn-primary btn-lg" type="submit"  href="/tarif/{{tariff.id}}"style="margin-left:4px;background:#0d6efd;;text-align:center;margin-left:5px">Переглянути тариф</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}