{% extends 'operatorApp/base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">{{ tariff.name }}</h1>
        <div class="row">
            <div class="col-md-6">
                {% if tariff.photo_path %}
                <img src="{{ tariff.photo_path.url }}" class="img-fluid mb-3" alt="Фото тарифу">
                {% else %}
                <p><em>Фото тарифу недоступне.</em></p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Опис тарифу</h5>
                        <p class="card-text">{{ tariff.description }}</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Деталі тарифу</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Ціна:</strong> {{ tariff.price }}</li>
                            <li class="list-group-item"><strong>Кількість інтернету (KB):</strong> {{ tariff.internet_kb_count }}</li>
                            <li class="list-group-item"><strong>Кількість SMS:</strong> {{ tariff.sms_count }}</li>
                            <li class="list-group-item"><strong>Кількість хвилин:</strong> {{ tariff.minutes_count }}</li>
                            <a href="/user/tarif/{{tariff.pk}}/update">Оновити тариф</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}